@using IdentityServer7.EntityFramework.Storage.Entities;
@model ApiResource
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    <a asp-action="Index">Back to list</a>
</p>
<div class="row">

    <form id="registerForm" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Id" class="form-control" disabled autocomplete="Id" aria-required="true" />
            <label asp-for="Id">Id</label>
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" disabled autocomplete="Name" aria-required="true" />
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="DisplayName" class="form-control" disabled autocomplete="DisplayName" aria-required="true" />
            <label asp-for="DisplayName">DisplayName</label>
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Scopes" class="form-control" disabled autocomplete="Scopes" aria-required="true" />
            <label asp-for="Scopes">Scopes</label>
            <span asp-validation-for="Scopes" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Enabled" class="form-control" disabled autocomplete="Enabled" aria-required="true" />
            <label asp-for="Enabled">Enabled</label>
            <span asp-validation-for="Enabled" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Description" class="form-control" disabled autocomplete="Description" aria-required="true" />
            <label asp-for="Description">Description</label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </form>
    
</div>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
}
